.navBarEstilo {
    padding: 1vh 0 1vh;
    height: 100vh;
    width: 5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    transition: width .4s ease;
    
    
    .FecharEAbrir {
        cursor: pointer;
        border-radius: 6px;
        border: 0.8px solid;
        width: 3vw;
        height: 5vh;
        background-color: #63758D;
        transition: none;
    }
    
    .FecharEAbrir:hover {
        background-color: rgb(79, 91, 105);
        transition: none;
        z-index: 10;
    }
    
    section {
        height: 45vh;
        width: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
        transition: none;
        // border: solid 0.3px black;
        
        .DivBotaoMenuAberto {
            display: flex;
            // border: 1px solid purple;
            width: 100%;
            transition: none;

            button {
                transition: none;
            }
            p{
                display: none;
            }
            
        }
        
        button {
            cursor: pointer;
            background-color: #0844C4;
            width: 3vw;
            height: 5vh;
            border-radius: 6px;
            border: 0.8px solid;
            transition: none;
        }
        
        button:hover {
            background-color: rgb(7, 61, 176, 1);
            transition: none;
        }
    }
    
    .BotaoSair {
        cursor: pointer;
        border-radius: 6px;
        width: 3vw;
        height: 5vh;
        background-color: #63758D;
        border: 0.8px solid;
    }
    
    .BotaoSair:hover {
        background-color: rgb(79, 91, 105);
        transition: none;
    }
}

//estilos para aberto e fechado
.aberto {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%; // Quando estiver aberto
    overflow: hidden;
    z-index: 10;
    border-right: 0.3px solid #63758D;
    background-color: rgba(255, 255, 255, 0.068); // Fundo escurecido com opacidade
    backdrop-filter: blur(1.5px); // Efeito de desfoque no fundo
    transition: width 0.4s ease, border-right-color 0.4s ease, background-color 0.4s ease; // Transição suave

    
    
    
}

.fechado {
    position: absolute;
    width: 5vw; // Quando estiver fechado
    transition: width 0.4s ease, border-right-color 0.4s ease; // Transição para a cor da borda
    border-right: 0.3px solid transparent; // Borda invisível ao fechar
}

